<a href="https://colab.research.google.com/github/jhbeann/R/blob/main/Chapt1_2_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SECTION2_ R로 데이터 다루기

### 1. 데이터 가져오기와 내보내기

In [2]:
#1) 데이터 가져오기
df <-read.csv("sample_data/df_sample.csv")
df

   학번 중간 기말 리포트 퀴즈
1  S01  90   95   20     20
2  S02  82   83   18     18
3  S03  80   78   18     18
4  S04  78   75   10     10
5  S05  93   91   12     12
6  S06  71   75   16     16
7  S07  60   80   18     18
8  S08  72   65   14     14
9  S09  65   65   14     14
10 S10  85   78   10     10

In [3]:
# 2) 데이터 내보내기
# sample_data 폴더에 df_output.csv 파일로 저장

write.csv(df,"sample_data/df_output.csv")

### 2. 데이터 확인

In [4]:
head(df,3)
tail(df,3)

  학번 중간 기말 리포트 퀴즈
1 S01  90   95   20     20
2 S02  82   83   18     18
3 S03  80   78   18     18

   학번 중간 기말 리포트 퀴즈
8  S08  72   65   14     14
9  S09  65   65   14     14
10 S10  85   78   10     10

In [5]:
# 데이터 구조 출력
str(df)

'data.frame':	10 obs. of  5 variables:
 $ 학번  : chr  "S01" "S02" "S03" "S04" ...
 $ 중간  : int  90 82 80 78 93 71 60 72 65 85
 $ 기말  : int  95 83 78 75 91 75 80 65 65 78
 $ 리포트: int  20 18 18 10 12 16 18 14 14 10
 $ 퀴즈  : int  20 18 18 10 12 16 18 14 14 10

In [6]:
# 요약통계량 확인
summary(df)

     학번                중간            기말           리포트
 Length:10          Min.   :60.00   Min.   :65.00   Min.   :10.0
 Class :character   1st Qu.:71.25   1st Qu.:75.00   1st Qu.:12.5
 Mode  :character   Median :79.00   Median :78.00   Median :15.0
                    Mean   :77.60   Mean   :78.50   Mean   :15.0
                    3rd Qu.:84.25   3rd Qu.:82.25   3rd Qu.:18.0
                    Max.   :93.00   Max.   :95.00   Max.   :20.0
      퀴즈
 Min.   :10.0
 1st Qu.:12.5
 Median :15.0
 Mean   :15.0
 3rd Qu.:18.0
 Max.   :20.0

In [7]:
dim(df) # 차원 출력
nrow(df)
ncol(df)
length(df) # df 길이

[1] 10  5

[1] 10

[1] 5

[1] 5

### 3. 데이터 조작

In [8]:
df1 <- head(df,3)
df2 <- tail(df,3)
# 행 결합
rbind(df1,df2)
# 열 결합 
cbind(df1,df2)

   학번 중간 기말 리포트 퀴즈
1  S01  90   95   20     20
2  S02  82   83   18     18
3  S03  80   78   18     18
8  S08  72   65   14     14
9  S09  65   65   14     14
10 S10  85   78   10     10

  학번 중간 기말 리포트 퀴즈 학번 중간 기말 리포트 퀴즈
1 S01  90   95   20     20   S08  72   65   14     14
2 S02  82   83   18     18   S09  65   65   14     14
3 S03  80   78   18     18   S10  85   78   10     10

In [9]:
# 분리할 열 팩터(지정 열 구성 값)를 기준으로 분리
split(df,df$`퀴즈`)
# 동일한 퀴즈 점수를 가진 행들로 분리

$`10`
   학번 중간 기말 리포트 퀴즈
4   S04   78   75     10   10
10  S10   85   78     10   10

$`12`
  학번 중간 기말 리포트 퀴즈
5  S05   93   91     12   12

$`14`
  학번 중간 기말 리포트 퀴즈
8  S08   72   65     14   14
9  S09   65   65     14   14

$`16`
  학번 중간 기말 리포트 퀴즈
6  S06   71   75     16   16

$`18`
  학번 중간 기말 리포트 퀴즈
2  S02   82   83     18   18
3  S03   80   78     18   18
7  S07   60   80     18   18

$`20`
  학번 중간 기말 리포트 퀴즈
1  S01   90   95     20   20

In [10]:
# 조건에 맞는 행 선택 : subset()
# select 사용해 일부 열만 출력

subset(df,중간 >=90,select = c("학번","중간","기말"))

  학번 중간 기말
1 S01  90   95
5 S05  93   91

In [11]:
# 지정한 자리 문자열 선택 : substr

# 학번 열 데이터 값의 2번째~3번째 위치 문자열 선택
substr(df$`학번`,2,3)

 [1] "01" "02" "03" "04" "05" "06" "07" "08" "09" "10"

In [12]:
# 공통 열 기준으로 2개 df 병합
df1 = subset(df, TRUE, select = c("학번","중간"))
df2 = subset(df, TRUE, select = c("학번","기말") )
merge(df1,df2)
# 공통열 학번 기준으로 병합

   학번 중간 기말
1  S01  90   95
2  S02  82   83
3  S03  80   78
4  S04  78   75
5  S05  93   91
6  S06  71   75
7  S07  60   80
8  S08  72   65
9  S09  65   65
10 S10  85   78

In [13]:
# 정렬 :sort()
# decreasing = T : 내림차순 / FALSE : 오름차순(기본값)
sort(df$`중간`, decreasing = T)

 [1] 93 90 85 82 80 78 72 71 65 60

In [14]:
# 위치 인덱스를 정렬 순서대로 
# 인덱스 행으로 선택하면 DF 정렬

order(df$`중간`,decreasing = T) # 중간점수로 정렬할 때의 순서 반환
df[order(df$`중간`,decreasing = T),] # 중간점수로 df 정렬

 [1]  5  1 10  2  3  4  8  6  9  7

   학번 중간 기말 리포트 퀴즈
5  S05  93   91   12     12
1  S01  90   95   20     20
10 S10  85   78   10     10
2  S02  82   83   18     18
3  S03  80   78   18     18
4  S04  78   75   10     10
8  S08  72   65   14     14
6  S06  71   75   16     16
9  S09  65   65   14     14
7  S07  60   80   18     18

In [15]:
# tapply(함수가 적용될 열, 그룹화 기준 열, 적용할 통계함수)
# 그룹별 통계값 구할 때 사용
# 동일한 퀴즈 점수를 가진 그룹별 (그룹기준) 중간점수(적용열)의 평균 출력
tapply(df$중간,df$퀴즈,mean)

# 10:81.5 ==> 퀴즈 10점 맞은 학생들의 중간고사 평균은 81.5

  10   12   14   16   18   20
81.5 93.0 68.5 71.0 74.0 90.0

### 4. 디플라이어(dplyr) 패키지

In [16]:
library(dplyr) # 패키지 로드
# 패키지 로딩 : library() 함수 사용

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [17]:
df %>% count()
# df의 데이터를 count() 함수로 전달

  n
1 10

2) 행 조작
- 행 요약 : summarise()
  - sum,mean,median,max,min,n() 함수 사용 가능
- 행 그룹화 : group_by()

In [18]:
class = c("1반","1반","1반","2반","2반","2반","3반","3반","3반","3반")
df = cbind(df,class)
df

   학번 중간 기말 리포트 퀴즈 class
1  S01  90   95   20     20   1반
2  S02  82   83   18     18   1반
3  S03  80   78   18     18   1반
4  S04  78   75   10     10   2반
5  S05  93   91   12     12   2반
6  S06  71   75   16     16   2반
7  S07  60   80   18     18   3반
8  S08  72   65   14     14   3반
9  S09  65   65   14     14   3반
10 S10  85   78   10     10   3반

In [19]:
# 클래스 별 중간시험 총점,평균 출력
group_by(df,class) %>% summarise(sum(중간),mean(중간))

  class sum(중간) mean(중간)
1 1반   252       84.00000
2 2반   242       80.66667
3 3반   282       70.50000

3 ) 조건으로 행 선택 : filter()
- subset과 유사

In [20]:
filter(df, 중간 >=90)

  학번 중간 기말 리포트 퀴즈 class
1 S01  90   95   20     20   1반
2 S05  93   91   12     12   2반

In [21]:
filter(df, 중간 >=90 & class == '1반')

  학번 중간 기말 리포트 퀴즈 class
1 S01  90   95   20     20   1반

4) 유일 값 행 선택 : distinct()
- 컬럼 중복값 제거, 유일한 값만 출력

In [22]:
distinct(df,class)

  class
1 1반
2 2반
3 3반

5) 일부 행 선택 : slice()
- 행 지정

In [23]:
slice(df, 3:5)

  학번 중간 기말 리포트 퀴즈 class
1 S03  80   78   18     18   1반
2 S04  78   75   10     10   2반
3 S05  93   91   12     12   2반

6) 행 정렬하기 : arrange()
- 기본: 오름차순

In [24]:
arrange(df,기말)

   학번 중간 기말 리포트 퀴즈 class
1  S08  72   65   14     14   3반
2  S09  65   65   14     14   3반
3  S04  78   75   10     10   2반
4  S06  71   75   16     16   2반
5  S03  80   78   18     18   1반
6  S10  85   78   10     10   3반
7  S07  60   80   18     18   3반
8  S02  82   83   18     18   1반
9  S05  93   91   12     12   2반
10 S01  90   95   20     20   1반

In [25]:
arrange(df,desc(기말))
arrange(df,중간, 기말) # 중간점수 동일할 경우 기말 점수 기준 오름차순 정렬

   학번 중간 기말 리포트 퀴즈 class
1  S01  90   95   20     20   1반
2  S05  93   91   12     12   2반
3  S02  82   83   18     18   1반
4  S07  60   80   18     18   3반
5  S03  80   78   18     18   1반
6  S10  85   78   10     10   3반
7  S04  78   75   10     10   2반
8  S06  71   75   16     16   2반
9  S08  72   65   14     14   3반
10 S09  65   65   14     14   3반

   학번 중간 기말 리포트 퀴즈 class
1  S07  60   80   18     18   3반
2  S09  65   65   14     14   3반
3  S06  71   75   16     16   2반
4  S08  72   65   14     14   3반
5  S04  78   75   10     10   2반
6  S03  80   78   18     18   1반
7  S02  82   83   18     18   1반
8  S10  85   78   10     10   3반
9  S01  90   95   20     20   1반
10 S05  93   91   12     12   2반

7) 행 추가하기 : add_row() 사용

In [26]:
add_row(df, 학번="S11", 중간=50, 기말=55, 리포트=12, 퀴즈=10)

   학번 중간 기말 리포트 퀴즈 class
1  S01  90   95   20     20   1반
2  S02  82   83   18     18   1반
3  S03  80   78   18     18   1반
4  S04  78   75   10     10   2반
5  S05  93   91   12     12   2반
6  S06  71   75   16     16   2반
7  S07  60   80   18     18   3반
8  S08  72   65   14     14   3반
9  S09  65   65   14     14   3반
10 S10  85   78   10     10   3반
11 S11  50   55   12     10   NA

8) 샘플 행 뽑기

In [28]:
sample_frac(df,0.2) # 비율(20% 추출)
sample_n(df, 4) # 4개 행 추출
sample_frac(df,0.2, replace = T) # 복원추출방식
sample_n(df,4, replace = F) # 비복원추출방식

  학번 중간 기말 리포트 퀴즈 class
1 S05  93   91   12     12   2반
2 S06  71   75   16     16   2반

  학번 중간 기말 리포트 퀴즈 class
1 S09  65   65   14     14   3반
2 S04  78   75   10     10   2반
3 S02  82   83   18     18   1반
4 S08  72   65   14     14   3반

  학번 중간 기말 리포트 퀴즈 class
1 S06  71   75   16     16   2반
2 S01  90   95   20     20   1반

  학번 중간 기말 리포트 퀴즈 class
1 S10  85   78   10     10   3반
2 S01  90   95   20     20   1반
3 S09  65   65   14     14   3반
4 S08  72   65   14     14   3반

### 열 조작

In [29]:
# 열 선택

select(df,학번, 중간)

   학번 중간
1  S01  90
2  S02  82
3  S03  80
4  S04  78
5  S05  93
6  S06  71
7  S07  60
8  S08  72
9  S09  65
10 S10  85

#### mutate() : 기존 데이터 프레임에 계산된 열 추가
  - 수식 , 함수 적용 가능

In [31]:
df <- read.csv("sample_data/df_sample.csv")

class <- c("1반","1반","1반","2반","2반","2반","3반","3반","3반","3반")
df <-cbind(df,class)

df %>% mutate(기말-중간)

   학번 중간 기말 리포트 퀴즈 class 기말 - 중간
1  S01  90   95   20     20   1반    5
2  S02  82   83   18     18   1반    1
3  S03  80   78   18     18   1반   -2
4  S04  78   75   10     10   2반   -3
5  S05  93   91   12     12   2반   -2
6  S06  71   75   16     16   2반    4
7  S07  60   80   18     18   3반   20
8  S08  72   65   14     14   3반   -7
9  S09  65   65   14     14   3반    0
10 S10  85   78   10     10   3반   -7

- transmute() : 생성 열만 출력

In [33]:
df %>% transmute(기말-중간)

   기말 - 중간
1   5
2   1
3  -2
4  -3
5  -2
6   4
7  20
8  -7
9   0
10 -7

#### mutate_all() : 모든 열 조작해 새로운 열 생성
  - 함수 지정을 위해 funs() 옵션 사용 가능

In [34]:
df %>% mutate_all(funs(max)) # 각 열의 최대값으로 모든 값 대체

Warning message:
“`funs()` was deprecated in dplyr 0.8.0.
ℹ Please use a list of either functions or lambdas:

# Simple named list: list(mean = mean, median = median)

# Auto named with `tibble::lst()`: tibble::lst(mean, median)

# Using lambdas list(~ mean(., trim = .2), ~ median(., na.rm = TRUE))”

   학번 중간 기말 리포트 퀴즈 class
1  S10  93   95   20     20   3반
2  S10  93   95   20     20   3반
3  S10  93   95   20     20   3반
4  S10  93   95   20     20   3반
5  S10  93   95   20     20   3반
6  S10  93   95   20     20   3반
7  S10  93   95   20     20   3반
8  S10  93   95   20     20   3반
9  S10  93   95   20     20   3반
10 S10  93   95   20     20   3반

In [35]:
# 열 이름 바꾸기 : rename(신 = 구)
df %>% rename(반 = class)

   학번 중간 기말 리포트 퀴즈 반
1  S01  90   95   20     20   1반
2  S02  82   83   18     18   1반
3  S03  80   78   18     18   1반
4  S04  78   75   10     10   2반
5  S05  93   91   12     12   2반
6  S06  71   75   16     16   2반
7  S07  60   80   18     18   3반
8  S08  72   65   14     14   3반
9  S09  65   65   14     14   3반
10 S10  85   78   10     10   3반

### 데이터 전처리

1) 데이터 변환
- 파생변수 생성

In [37]:
df <- read.csv("sample_data/df_sample.csv")

x <- c("1반","1반","1반","2반","2반","2반","3반","3반","3반","3반")       # 벡터 x정의
df$class <- x               # 벡터 x를 값으로 df에 class 파생변수 생성
head(df)

  학번 중간 기말 리포트 퀴즈 class
1 S01  90   95   20     20   1반
2 S02  82   83   18     18   1반
3 S03  80   78   18     18   1반
4 S04  78   75   10     10   2반
5 S05  93   91   12     12   2반
6 S06  71   75   16     16   2반

In [38]:
df["class2"] <-x

In [39]:
df <- transform(df,합계 = 중간 +기말)
df <- transform(df, 평균=합계/2)
head(df)

  학번 중간 기말 리포트 퀴즈 class class2 합계 평균
1 S01  90   95   20     20   1반   1반    185  92.5
2 S02  82   83   18     18   1반   1반    165  82.5
3 S03  80   78   18     18   1반   1반    158  79.0
4 S04  78   75   10     10   2반   2반    153  76.5
5 S05  93   91   12     12   2반   2반    184  92.0
6 S06  71   75   16     16   2반   2반    146  73.0

In [41]:
# 표준화 : 데이터가 평균 기준 얼마나 떨어져 있는지 
# scale(데이터, center = TURE, scale = TRUE)
df_z <- transform(df, 중간scale= scale(df$`중간`, center = TRUE, scale = TRUE ))
df_z

   학번 중간 기말 리포트 퀴즈 class class2 합계 평균 중간scale
1  S01  90   95   20     20   1반   1반    185  92.5  1.16798784
2  S02  82   83   18     18   1반   1반    165  82.5  0.41444730
3  S03  80   78   18     18   1반   1반    158  79.0  0.22606216
4  S04  78   75   10     10   2반   2반    153  76.5  0.03767703
5  S05  93   91   12     12   2반   2반    184  92.0  1.45056554
6  S06  71   75   16     16   2반   2반    146  73.0 -0.62167094
7  S07  60   80   18     18   3반   3반    140  70.0 -1.65778919
8  S08  72   65   14     14   3반   3반    137  68.5 -0.52747838
9  S09  65   65   14     14   3반   3반    130  65.0 -1.18682635
10 S10  85   78   10     10   3반   3반    163  81.5  0.69702500

In [42]:
# 정규화 : 데이터 범위를 0과 1 사이
# scale(데이터, center = 최소, scale = 최대 - 최소)

fmin <-min(df$`기말`)
fmax <- max(df$`기말`)
df_z <- transform(df, 기말scale = scale(df$기말, center = fmin, scale = fmax - fmin))
head(df_z)

  학번 중간 기말 리포트 퀴즈 class class2 합계 평균 기말scale
1 S01  90   95   20     20   1반   1반    185  92.5 1.0000000
2 S02  82   83   18     18   1반   1반    165  82.5 0.6000000
3 S03  80   78   18     18   1반   1반    158  79.0 0.4333333
4 S04  78   75   10     10   2반   2반    153  76.5 0.3333333
5 S05  93   91   12     12   2반   2반    184  92.0 0.8666667
6 S06  71   75   16     16   2반   2반    146  73.0 0.3333333

In [43]:
# 집계함수
# aggregate() : 특정 열 기준 데이터 그룹화 & 집계함수 적용

# class를 기준으로 그룹화, 중간 점수 평균 구함.
aggregate(중간~class, df, mean)

  class 중간
1 1반   84.00000
2 2반   80.66667
3 3반   70.50000

In [46]:
# table():  각 범주별 도수분포표

table(df$class)
# prop.table(df$class) 상대도수분포표 (합 1 되도록)

1반 2반 3반
  3   3   4

- apply(): 행 또는 열 방향으로 주어진 함수 적용
  -  1: 행방향 2: 열방향

- tapply() : 데이터 행 지정한 기준에 따라 그룹화. 그룹별로 함수 적용

In [47]:
apply(df[2:5], 2, mean)

  중간   기말 리포트   퀴즈
  77.6   78.5   15.0   15.0

In [48]:
# 지정에 따라 그룹화. 그룹별로 함수 적용
tapply(df$`기말`, df$class, mean)

     1반      2반      3반
85.33333 80.33333 72.00000

In [49]:
# 결측값 처리
x = c(14,15,13,14,NA,NA,19,11,12,18)    # 결측값이 있는 컬럼 "토론" 추가
df$토론 <- x
is.na(df$토론)          # 토론 열의 결측값이 있는 부분을 TRUE로 표시
sum(is.na(df$토론))     # 토론 열의 NA의 개수 계산
table(is.na(df$토론))   # 토론 열의 결측값의 개수와 결측값이 아닌 개수를 함께 계산

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE

[1] 2

FALSE  TRUE
    8     2

In [50]:
# 결측치 행 제거하는 방법
df_new <- na.omit(df)
df_new <- df[!is.na(df$토론),]  # 조건에 맞는 행 선택
df_new <- filter(df,!is.na(df$토론))

In [52]:
d_mean <- mean(df$토론, na.rm=1) # 결측값을 제외한 평균을 구함
# df$토론의 값이 NA이면 평균(d_mean)으로 대체 (평균=14.5)
df$토론 <- ifelse(is.na(df$토론), d_mean, df$토론)

In [54]:
# 이상값 처리
# 이상치 판별

quantile(df$기말, prob = 0.25)  # 1사분위수
quantile(df$기말, prob = 0.75)  # 3사분위수
# 사분위 범위 : IQR
df_IQR <- IQR(df$`기말`)
df_IQR

25%
 75

  75%
82.25

[1] 7.25